@{  
    string Title = "Crear Tablero";
}
@using Taller2_TP10.ViewModels
@model CrearTableroViewModel

<h2>@Title</h2>

<form asp-controller="Tablero" asp-action="CrearTablero" method="post">
    
    <div class="mb-3">
        <input asp-for="@Model.IdUsuarioPropietario" type="hidden" />
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Nombre" class="form-label">Nombre</label>
        <input asp-for="@Model.Nombre" type="text" class="form-control" value="@Model.Nombre">
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>  
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Descripcion" class="form-label">Descripcion</label>
        <input asp-for="@Model.Descripcion" type="text" class="form-control" value="@Model.Descripcion">
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>  
    </div>
        <button type="submit" class="btn btn-succes">Crear</button>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }  @*Es para la validacion en la parte del cliente*@
