@{
    ViewData["Title"] = "Tableros";
    string Title = "Lista de Tableros";
}
@using Taller2_TP10.ViewModels
@model List<IndexTabAdminViewModel>

<H2>@Title</H2>

<table class="table table-primary">
    <thead>
        <tr>
            <th scope="col">Nombre del tablero</th>
            <th scope="col">Usuario propietario</th>
            <th scope="col">Descripcion del mismo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model)
        {
            <tr>
                <td scope= "row">@tablero.Nombre</td>
                <td>@tablero.ObtenerUsuarioPropietario(tablero.IdUsuarioPropietario)</td>
                <td>@tablero.Descripcion</td>
                <td><a class="btn btn-warning" asp-controller="Tablero" asp-action="ModificarTablero" asp-route-idTablero="@tablero.Id"><strong>Modificar</strong></a></td>
                <td><a class="btn btn-danger" asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero="@tablero.Id" onclick="return confirm('¿Seguro que quieres eliminar este tablero?')"><strong>Eliminar</strong></a></td>
            </tr>
        }
    </tbody>
</table>
<button type="submit" class="btn btn-primary"><a class="nav-link text-white" asp-controller="Tablero" asp-action="CrearTablero" >Crear</a></button>



