@{
    ViewData["Title"] = "Lista de Tableros";
}
@model List<tl2_tp10_2023_Unagui19.ViewModels.IndexTableroViewModel>
    <h2>@ViewData["Title"]</h2>

    <table class="table table-dark">
        <thead>
            <tr>
                <th hidden>ID</th>
                <th>Nombre</th>
                <th>Id de Usuario asociado a la tarea</th>
                <th>Descripcion</th>
                @* <th></th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var tablero in Model)
            {
                <tr>
                    <td hidden>@tablero.Id</td>
                    <td>@tablero.Nombre</td>
                    <td>@tablero.IdUsuarioPropietario</td>
                    <td>@tablero.Descripcion</td>
                    <td>
                    <a asp-controller="Tablero" asp-action="ModificarTablero" asp-route-idTablero="@tablero.Id">Modificar</a>
                    <a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero="@tablero.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>
                    </td> 
                </tr>
 
            }
        </tbody>
    </table>
