@{
    string Title = "Listado de Usuarios";
}

@using Taller2_TP10.ViewModels
@model List<IndexUsuarioViewModel>

<h2>@Title</h2>

<table class="table table-primary">
    <thead>
        <tr>
            @* <th scope="col"> ID</th> *@
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                @* <th scope= "row">@usuario.IdUsuario</th> *@
                <td scope= "row">@usuario.Nombre</td>
                <td>@usuario.Rol</td>
                    <td><button type="button" class="btn btn-warning"><a asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-idUsuario="@usuario.IdUsuario">Modificar</a></button></td>
                    <td><button type="button" class="btn btn-danger"><a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-idUsuario="@usuario.IdUsuario" onclick="return confirm('¿Seguro que quieres eliminar este usuario?')">Eliminar</a></button></td>
            </tr>
        }
    </tbody>
</table>



